body {
  font-size: 100%;
  margin: 30px 60px;
}

.comma-list {
  padding: 0;
  
  & > * {
    display: inline;
    
    &:after {
      content: ',';
    }
    
    &:last-child:after {
      content: '';
    }
  }
}

@media (min-width: 768px) {
  .comma-list {
      list-style: square;
      padding-left: 30px;
  
    & > * {
        display: list-item;
        width: 33%;
        float: left;
      
      &:after {
        content: '';
      }
    }
  }
}
